*.db
*.opendb
*.opensdf
*.sdf
*.suo
*/bin/
*/debug/
*/info/
*/obj/
*/release/
*/stylecop.cache
*/*.aps
build/commit_id.txt
build/readme/~$readme.docx
build/release
debug/
igp11.core/resourceprovider.cpp
ipch/
packages/
release/
stylecop.cache
tools/*/stylecop.cache
x64/